<header class="bg-success text-white text-center py-4">
  <img src="../../public/image/excellncenode.jpg" alt="Clinica Medica" class="rounded-circle mb-3" style="width: 150px;">
  <h1 class="display-4">Clínica Médica</h1>
</header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/pacientes">Listar Pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pacientes/new">Adicionar Paciente</a>
        </li>
      </ul>
    </div>
  </div>
</nav>